@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-contents {
  display: flex;
  width: 100%;
  background-color: #FF00FF	;
  padding: 30px 20px;
  justify-content: flex-end;
}

.header-inner {
  height: 70px;
  flex-basis: 140px;
  background-color: #fbb3ff;
  margin:  0 10px;
}

.header-inner:first-child {
  margin-right: auto;
}

.main-contents {
  display: flex;
  justify-content:center;
}

.main-inner_1 {
  width: 300px;
  background-color: #d8ffb6;
}

.main-inner_2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  flex-grow: 1;
  background-color: #00b522;
  padding: 20px;
}

.main-block {
  background-color: #fff75a;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #52a1ff;
  padding: 20px;
}

.footer-block {
  max-width: 600px;
  width: 45%;
  height: 40px;
  background-color: #99ccff;
  margin: 10px;
} 
