@charset "UTF-8";

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.main-view {
  width: 960px;
  margin: 0 auto;
}

.main-inner {
  margin: 50px 0px 50px 0px;
}

.main-inner-list {
  height: 64px;
}

.main-inner-list:nth-child(odd) {
  background-color: #eeeeee;
}

.main-inner-text {
  padding: 20px 0px 20px 20px;
}

.main-box-contents {
  display: flex;
  flex-wrap: wrap;
}

.box-inner {
  width: 30%;
  height: 200px;
  background-color: #ffd700;
  margin: 0px 5% 40px 0px;
}

.box-inner:nth-of-type(3n) {
  margin-right: 0px;
}

.box-inner:nth-child(1),
.box-inner:nth-child(5),
.box-inner:nth-child(9) {
  background-color: #ff8c00;
}

.box-inner:nth-child(7),
.box-inner:nth-child(8),
.box-inner:nth-child(9) {
  margin-bottom: 50px;
}